<div class="nested-fields">
  <%= f.input :initial_value, as: :string, placeholder: 'Digite o preço de compra', input_html: { class: 'form-control price-input', step: '0.01', value: number_with_precision( precision: 2, delimiter: '.', separator: ',') } %>
</div>
