<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Feliz Aniversário, <%= @customer.name %>!</h1>
        </div>
        <div class="card-body">
          <p>Esperamos que seu dia seja cheio de alegria e felicidade.</p>
          <p>Aproveite este dia especial!</p>
        </div>
      </div>
    </div>
  </div>
</div>
