<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Amarket</title>
    <style>
        /* Estilos gerais */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        /* Estilos para o cabeçalho */
        .header {
            background-color: #007BFF;
            color: #fff;
            padding: 20px 0;
        }
        .header h1 {
            font-size: 28px;
        }
        /* Estilos para o conteúdo principal */
        .content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .content p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        /* Estilos para o botão de call to action */
        .cta-button {
            display: inline-block;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
        /* Estilos para o rodapé */
        .footer {
            margin-top: 20px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Bem-vindo ao Amarket!</h1>
        </div>
        <div class="content">
            <p>Oi <%= @admin.email %>,</p>
            <p>Bem-vindo ao Amarket! Estamos empolgados em tê-lo como parte da nossa comunidade.</p>
            <p>Comece a explorar nossos recursos e aproveite ao máximo sua experiência no Amarket.</p>
            <p>
              <%= link_to 'Acessar Amarket', 'http://amarket.com', class: 'cta-button' %>
            </p>

            <p>Se você tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato com nossa equipe de suporte.</p>
        </div>
        <div class="footer">
            <p>Este é um e-mail automático. Por favor, não responda a este e-mail.</p>
        </div>
    </div>
</body>
</html>
