<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="card">
            <div class="mb-3">
              <label for="product_product_id" class="form-label">Product</label>
              <input type="text" id="product-search" class="form-control" placeholder="Digite o nome do produto">
            </div>
            <table class="table">
              <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Image</th>
                <th>Ações</th>
              </thead>
              <tbody id="search-results" value="<%= @product_input %>">
              </tbody>
            </table>
            <input type="hidden" id="product-data" value="<%= json_escape(@products.to_json) %>">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="myExtraLargeModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" div-center">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Variação</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div style="width: 1000px;">
                  <table class="table table-bordered dataTable dtr-inline">
                    <thead>
                      <tr>
                        <th class="col-1">Id</th>
                        <th class="col-2">Nome</th>
                        <th class="col-2">Image</th>
                        <th class="col-1">Cor</th>
                        <th class="col-4">Subgrupos</th>
                      </tr>
                    </thead>
                    <tbody id="search-results-variations"></tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
