<div class="float-end">
  <table class="table" id="product-table">
    <thead>
      <tr>
        <th class="col-1">Id</th>
        <th class="col-2">Nome</th>
        <th class="col-2">Preço</th>
        <th class="col-2">Produto</th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="row-total">
          <strong>Total</strong>
          <span>R$0,00</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
