<div class="row mt-4">
  <div class="col-md-5">
    <input type="date" class="form-control" id="start_date" name="start_date" value="<%= @date %>">
  </div>
  <div class="col-md-3">
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </div>
  <div class="col-md-4">
    <a href="<%= show_all_path %>" class="btn btn-secondary">Mostrar Todos</a>
  </div>
</div>
