<div class="float-end"><%= link_to 'Registrar nova venda', new_admin_template_sale_path, class: 'btn btn-success' %></div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">Id</th>
        <th class="col-10">Nome</th>
        <th class="col-1"></th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale| %>   
      <tr>
        <td class="row" style="padding-bottom: 37px;"><%= sale.id %></td>
        <td><%= sale.product_id %></td>
        <td><%= link_to 'ver', admin_template_sale_path(sale), class: "btn btn-green " %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
